parameters:
  dynamicConstantNames:
    - SCRIPT_DEBUG
    - WPCOM_IS_VIP_ENV
  scanFiles:
    - %rootDir%/../../php-stubs/wordpress-stubs/wordpress-stubs.php
    - stubs/lipe.php
    - stubs/wp.php
  checkGenericClassInNonGenericObjectType: false
  ignoreErrors:
    - '#^Function apply_filters invoked with [34567] parameters, 2 required\.$#'
