services:
  - class: Lipe\Lib\Phpstan\Services\DynamicFunctionReturnType\GetApprovedComments
    tags:
      - phpstan.broker.dynamicFunctionReturnTypeExtension
  - class: Lipe\Lib\Phpstan\Services\GetTermDynamicFunctionReturnTypeExtension
    tags:
      - phpstan.broker.dynamicFunctionReturnTypeExtension
  - class: Lipe\Lib\Phpstan\Services\GetTermByDynamicFunctionReturnTypeExtension
    tags:
      - phpstan.broker.dynamicFunctionReturnTypeExtension
  - class: Lipe\Lib\Phpstan\Services\DbGetDynamicFunctionReturnTypeExtension
    tags:
        - phpstan.broker.dynamicMethodReturnTypeExtension


# Default parameters passed to phpstan by this extension.
parameters:
  dynamicConstantNames:
    - COOKIEPATH
    - DB_NAME
    - DOMAIN_CURRENT_SITE
    - SITECOOKIEPATH
    - WPCOM_IS_VIP_ENV
  scanFiles:
    - stubs/lipe.php
    - stubs/wp.php
