includes:
    - %rootDir%/../../../rules.neon

parameters:
    level: 10
    lipemat:
        noExtends: true
        allowedToBeExtended:
            - PHPStan\Testing\TypeInferenceTestCase
    paths:
        - src
    bootstrapFiles:
        - vendor/autoload.php
    scanDirectories:
        - dev/stubs
    ignoreErrors:
        - # We don't want to use final classes as this is a distributed package.
            message: '#^Class [a-zA-Z0-9\\_]+ is not final\.$#'
    excludePaths:
        - src/AddRootToExtensions.php
