includes:
    - %rootDir%/../../../rules.neon

parameters:
    level: 9
    paths:
        - src
    bootstrapFiles:
        - vendor/autoload.php
    scanFiles:
        - dev/stubs/composer.php
    ignoreErrors:
        - # We don't want to use final classes as this is a distributed package.
            message: '#^Class [a-zA-Z0-9\\_]+ is neither abstract nor final\.$#'
