# Loaded during testing by the `DynamicReturnTypeExtensionTest` class.

includes:
    - ../../vendor/szepeviktor/phpstan-wordpress/extension.neon
    - ../../extension.neon

parameters:
    bootstrapFiles:
        - ../stubs/at-least-example.php
        - ../stubs/optional-example.php
        - ../stubs/required-example.php
        - ../stubs/union-example.php
        - ../stubs/wp-libs-scheme.php
