# Loaded during testing by the `DynamicReturnTypeExtensionTest` class.

includes:
    - ../../vendor/szepeviktor/phpstan-wordpress/extension.neon
    - ../../extension.neon

parameters:
    stubFiles:
       - ../../stubs/WP_Widget.php
    bootstrapFiles:
        - ../stubs/at-least-example.php
        - ../stubs/partial-example.php
        - ../stubs/pick-example.php
        - ../stubs/required-example.php
        - ../stubs/union-example.php
        - ../stubs/wp-libs-scheme.php
